<h1 mat-dialog-title>修改密码</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>输入旧密码</mat-label>
    <input matInput [(ngModel)]="data.oldPassword" type="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>输入新密码</mat-label>
    <input matInput [(ngModel)]="data.newPassword" type="password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>确认</button>
  <button mat-button (click)="onNoClick()">取消</button>
</div>
