<header #header class="app-layout-header">
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span routerLink="/">XXX图书馆</span>
        <span class="example-spacer"></span>
          <a *ngIf="user.id==null" routerLink="/login" color="primary" mat-flat-button>登录</a>&nbsp;&nbsp;
          <a *ngIf="user.id==null" routerLink="/signup" color="primary" mat-flat-button>注册</a>
        <span *ngIf="user.id!=null" class="mat-small">
          欢迎 {{user && user.username}}
          <button *ngIf="user.id!=null" mat-icon-button [mat-menu-trigger-for]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="navToIndex()" mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>我的图书馆</span>
          </button>
          <button *ngIf="user.role=='ROLE_ADMIN'" routerLink="/admin" mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>管理后台</span>
          </button>
          <button *ngIf="user.role=='ROLE_STAFF'" routerLink="/staff" mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>管理系统</span>
          </button>
          <button (click)="changePassword()" mat-menu-item>
            <mat-icon>border_color</mat-icon>
            <span>修改密码</span>
          </button>
          <button (click)="logout()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>退出系统</span>
          </button>
        </mat-menu>
        </span>
      </mat-toolbar-row>

    </mat-toolbar>
  </p>
</header>
