@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
*{
  box-sizing: border-box;
}
.bg{
  min-height: 90vh;
  display: flex;
  background-color: #eaeaea;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 1.8;
  background-image: url(../../../../assets/images/library_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.contact{
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 6;
  color: rgba(0,0,0,.5);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 20px;
  background: rgba(0,0,0,.1);
  line-height: 1;
  text-shadow: 0 1px 0px rgba(255,255,255,.1);

  &-form{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    z-index: 5;
    padding: 80px 50px;
    transform: translate3d(-100%, 0, 0);
    transition: .3s ease;
    border-radius: 5px;

    &.active{
      transform: translate3d(0,0,0);
    }

    .close{
      color: rgba(0,0,0,.7);
      position: absolute;
      right: 30px;
      top: 30px;
    }
  }
}

.cards{
  margin: auto;
  background: #fefefe;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,.1), 3px 5px 20px rgba(0,0,0,.2);
  width: 768px;
  height:530px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 30px;


  .card{
    display: inline-block;
    margin-right: 20px;
  }

  .card-content{
    position: absolute;
    width: 100%;
    height: 101%;
    left: 0;
    top: 0;
    transition: -webkit-clip-path 1s ease;
    padding: 0 0;
    overflow: hidden;
    border-radius: 5px;

    .row{
      display: table;
      width: 100%;
      height: 100%;
    }

    .col{
      width: 50%;
      height: 100%;
      display: table-cell;
      transition: .3s ease .3s;
      transform: translate3d(0,0,0);
      vertical-align: top;

      h2{
        font-weight: 300;
        font-size: 3em;
        line-height: 1;
        margin: 0 0 30px;
        strong{
          font-weight: 700;
          display: block;
        }
      }

      img{
        max-width:90%;
        width: 100%;
      }

      &.left{
        transform: translate3d(0,0, 0);
        opacity: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 100px;
      }
      &.right{
        transform: translate3d(100px,0, 0);
        opacity: 0;
        padding-left: 30px;
      }
    }
  }
  .card.active .col{
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  #overview{
    .right{
      background: url(../../../../assets/images/person.jpg) bottom center no-repeat;
      background-size: cover;
    }
  }
}

