<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p class="mat-h3">管理菜单</p>
    <div class="mat-list-item">
      <button type="button" mat-button
              (click)="drawer.close();navTo('/admin/staff_manage')">
        <mat-icon>build</mat-icon>
        员工管理
      </button>
    </div>
    <div class="mat-list-item">
      <button type="button" mat-button
              (click)="drawer.close();navTo('/admin/reader_grade')">
        <mat-icon>build</mat-icon>
        读者等级管理
      </button>
    </div>
    <div class="mat-list-item">
      <button type="button" mat-button
              (click)="drawer.close();navTo('/admin/')">
        <mat-icon>build</mat-icon>
        假期设置
      </button>
    </div>
    <div class="mat-list-item">
      <button type="button" mat-button
              (click)="drawer.close();;navTo('/admin/')">
        <mat-icon>build</mat-icon>
        预约书架
      </button>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content">
    <div>
      <div class="mat-h1">
        <button type="button" mat-button (click)="drawer.toggle();">
          <mat-icon>view_headline</mat-icon>
        </button>
        图书馆管理后台
      </div>
    </div>
    <mat-divider></mat-divider>
    <div>
      <br>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
