<p class="mat-h2">欢迎访问XXX图书馆!</p>
<br>

<div class="logo">
  <img src="./assets/images/library.png"/>
</div>

<div class="search-container">
  <div class="search-container-box">
    <mat-form-field>
      <mat-label>搜索选项</mat-label>
      <mat-select [(ngModel)]="selectOpt">
        <mat-option value=1>书名</mat-option>
        <mat-option value=2>ISBN</mat-option>
        <mat-option value=3>作者</mat-option>
        <mat-option value=4>模糊查询</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="search-container-box-input">
      <mat-label>搜索图书</mat-label>
      <input matInput type="text" [(ngModel)]="value" (keyup.enter)="searchBook()">
      <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="searchBook()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<section>
  <div class="button-row">
    <button mat-raised-button color="primary" style="width:15%; font-size:150%;">新闻公告</button>
    <button mat-raised-button color="primary" style="width:15%; font-size:150%;">服务指南</button>
    <button mat-raised-button color="primary" style="width:15%; font-size:150%;">在线咨询</button>
    <button mat-raised-button color="primary" style="width:15%; font-size:150%;">已借图书</button>
    <button mat-raised-button color="primary" style="width:15%; font-size:150%;">我的活动</button>
  </div>
</section>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>

