.search-container {
  width: 100%;
  display: table;
  text-align: center;
}

.search-container-box{
  width: 100%;
  font-size: 180%;
  vertical-align: middle;
  display: table;
}

.search-container-box-input{
  width: 60%;
}
