/*.grid{
  display: grid;
  align-content: center;
  justify-content: center;
}*/

.logo{
  width: 100%;
  display: table;
  text-align:center;
}

.logo img{
  width: 18%;
}

.search-container {
  width: 100%;
  display: table;
  text-align: center;
}

.search-container-box{
  width: 100%;
  font-size: 120%;
  vertical-align: middle;
  display: table;
}

.search-container-box-input{
  width: 60%;
}

.section {
  width: 100%;
  display: table;
  text-align: center;
}

.button-row {
  padding-left:10%;
  padding-right:10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

