.mat-toolbar{
  width:100%;
  min-height: 40px;
  display: table;
  text-align: center;
}

.button-row {
  padding-left:20%;
  padding-right:20%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
