.logo{
  width: 100%;
  display: table;
  text-align:center;
}

.logo img{
  width: 15%;
}

.login-container {
  width: 100%;
  display: table;
  text-align: center;
  vertical-align: middle;
}

.login-container-box{
  width: 100%;
  font-size: 150%;
  vertical-align: middle;
  display: table;
}
.login-container-box-input{
  width: 40%;
}
