<p>book-manage works!</p>
<div class="bar-get-book-detail">
  <div class="get-book-detail">
    <form (ngSubmit)="autowireBookInfo()">
      <mat-form-field>
        <mat-label>isbn</mat-label>
        <input [(ngModel)]="isbn" [ngModelOptions]="{standalone: true}" matInput type="text">
      </mat-form-field>
      <button mat-raised-button color="primary">自动获取书籍信息</button>
    </form>
  </div>
</div>

<hr /> <!--水平分割线-->

<form *ngIf="editingInfo">
  <div class="bar-insert-book-detail">
      <img src="{{editingInfo.imgUrl}}" alt="book img">
  </div>
  <div class="bar-insert-book-detail">
    <div class="insert-book-detail">
      <mat-form-field>
        <mat-label>isbn</mat-label>
        <input [(ngModel)]="editingInfo.isbn" [ngModelOptions]="{standalone: true}" matInput type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>书名</mat-label>
        <input [(ngModel)]="editingInfo.name" [ngModelOptions]="{standalone: true}" matInput type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>作者</mat-label>
        <input [(ngModel)]="editingInfo.author" [ngModelOptions]="{standalone: true}" matInput type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>出版社</mat-label>
        <input [(ngModel)]="editingInfo.publisher" [ngModelOptions]="{standalone: true}" matInput type="text">
      </mat-form-field>
    </div>
  </div>
  <div class="bar-insert-book-detail">
    <div class="insert-book-detail">
      <mat-form-field>
        <mat-label>出版时间</mat-label>
        <input [(ngModel)]="editingInfo.publishDate" [ngModelOptions]="{standalone: true}" matInput type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>价格</mat-label>
        <input [(ngModel)]="editingInfo.price" [ngModelOptions]="{standalone: true}" matInput type="number">
      </mat-form-field>
      <mat-form-field>
        <mat-label>中图分类号</mat-label>
        <input [(ngModel)]="editingInfo.classifyCode" [ngModelOptions]="{standalone: true}" matInput type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>关键词</mat-label>
        <input [(ngModel)]="editingInfo.keywords" [ngModelOptions]="{standalone: true}" matInput type="text">
      </mat-form-field>
    </div>
  </div>
  <div class="bar-insert-book-detail">
    <div class="insert-book-detail">
      <mat-form-field>
        <mat-label>描述</mat-label>
        <input [(ngModel)]="editingInfo.description" [ngModelOptions]="{standalone: true}" matInput type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>页面信息</mat-label>
        <input [(ngModel)]="editingInfo.pageInfo" [ngModelOptions]="{standalone: true}" matInput type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>索书号</mat-label>
        <input [(ngModel)]="editingInfo.indexNo" [ngModelOptions]="{standalone: true}" matInput type="text">
      </mat-form-field>
    </div>
  </div>

  <div class="bar-insert-book-detail">
    <div class="insert-book-detail">
      <button mat-raised-button (click)="submitBook()" style="height:10%;width:30%;">新增图书</button>
      <button mat-raised-button (click)="clearInfo()" style="height:10%;width:30%;">重置</button>
    </div>
  </div>
</form>

<hr /> <!--水平分割线-->

<h3>已录入图书信息检索</h3>
<div *ngFor="let book of bookInfo">
  {{book.isbn}},
  {{book.name}},
  {{book.author}},
  {{book.publisher}},
  <button (click)="editBook(book.isbn)">edit</button>
  <button (click)="delBook(book)">del</button>

</div>
