<p>search-book works!</p>
<div class="search-container">
  <div class="search-container-box">
    <mat-form-field>
      <mat-label>搜索选项</mat-label>
      <mat-select [(ngModel)]="selectOpt">
        <mat-option value=1>书名</mat-option>
        <mat-option value=2>ISBN</mat-option>
        <mat-option value=3>作者</mat-option>
        <mat-option value=4>模糊查询</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="search-container-box-input">
      <mat-label>搜索图书</mat-label>
      <label>
        <input matInput type="text" [(ngModel)]="value" (keyup.enter)="searchBook()">
      </label>
      <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="searchBook()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>


  <div *ngFor="let book of resultList" class="bookcard">
      <div class="card-item">
        <div class="search-container">
          <img style="width: 100px" src="{{book.imgUrl}}" alt="{{book.name}}">
        </div>
      </div>

      <div class="card-item">
      ISBN: {{book.isbn}}
      <br>
      书名: {{book.name}}
      <br>
      作者: {{book.author}}
      <br>
      出版社: {{book.publisher}}
      <br>
      索书号: {{book.indexNo}}
      <br>
      </div>

      <div class="card-item">
        <div>
          <button mat-raised-button color="primary" routerLink="/book/{{book.isbn}}">详情</button>
        </div>
        <br>
        <div>
          <button mat-raised-button color="primary" (click)="makeReservation(book)">预约</button>
        </div>
      </div>
  </div>


