.search-container {
  width: 100%;
  display: table;
  text-align: center;
}

.search-container-box{
  width: 100%;
  font-size: 120%;
  vertical-align: middle;
  display: table;
}
.mat-grid-tile {
  background: white;
  font-size: 110%;
}


::ng-deep mat-grid-tile.mat-grid-tile .mat-figure{
  justify-content: left;
}
