<div class="bookcard">
  <div class="card-item-pic">
    <div class="logo">
      <img (click)="openBorrowDialog()" src="./assets/images/borrow.png"/>
      <br>
      <br>
      <button mat-raised-button color="primary" style="font-size: 120%" (click)="openBorrowDialog()">
        借书流程
      </button>
    </div>
  </div>
  <div class="card-item-pic">
    <div class="logo">
      <img (click)="openReturnDialog()" src="./assets/images/return_book.png"/>
      <br>
      <br>
      <button mat-raised-button color="primary" style="font-size: 120%" (click)="openReturnDialog()">
        还书流程
      </button>
    </div>
  </div>
</div>





